<app-dashboard></app-dashboard>
<h2 style="text-align:center" class="login-title">Login to REV NEWS</h2>
<div class="whole-container">
  <div class="body">
      <img src="../../../../assets/img/login.gif" class="gif">
      <div class="container">
          <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
              <h1 class="display-4 text-center">Welcome Back!</h1>
              <div class="mb-3">
                  <div class="input-icon"><i class="fa-solid fa-user"></i>
                      <input type="text" id="email" name="email" placeholder="Email" class="form-control" ngModel
                          required>
                  </div>
              </div>
              <br>
              <div class="mb-3">
                  <div class="input-icon"><i class="fa-solid fa-lock"></i>
                      <input type="password" id="password" name="password" placeholder="Password" class="form-control"
                          ngModel required>
                  </div>
              </div>

              <br>

              <div class="d-flex justify-content-center">
                  <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary w-100 custom-color">Login</button>
              </div>

              <br>

              <div class="d-flex justify-content-center">
                  <p>Don't have an account? <a routerLink="/add">Register</a></p>
              </div>
          </form>
      </div>
  </div>
</div>