.whole-container {
  display: flex;
  justify-content: center;
}

.body {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbfbfb;
  margin-top: 50px;
  background-color: white;
}

.gif {
  width: 40%;
  height: auto;
}

.container {
  width: 60%;
  height: auto;
  /* margin-top: 20px; */
  max-width: 400px;
  background-color: white;
}

.form-control {
  /* background-color: #F7F7F7; */
  background-color: #f4f4f4;
  border: #fff;
  box-shadow: none;
  border-radius: 1px;
}

.input-icon {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 2px 8px;
  border: none;
  border-radius: 1px;
  border-left: 2px solid #0172e4;
  background: #f4f4f4;
}

.fa-user,
.fa-lock {
  width: auto;
}

.custom-color {
  background-color: rgb(36, 94, 180);
}