
<h2> Application Login</h2>
<div class="container">
  <section class="log">
    <!-- <p>Rev<span>News</span></p> -->
    <img src="../../assets/images/login.gif" alt="">
  </section>
  <section class="log">
    <div class="login-Heading">
      <h3>Welcome Back!</h3>
      <p>login to continue</p>
    </div>
    <form  #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
      <div class="form-group">
        <label for="username">Username</label>
        <div class="input-icon"><i class="fa-solid fa-user"></i>
          <input type="text" id="username" name="username" placeholder="username111@gmail.com" required>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <div class="input-icon"><i class="fa-solid fa-lock"></i>
          <input type="password" id="password" name="password" placeholder="Enter Password" ngModel required>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="!loginForm.valid">Login</button>
     <h5>Are you a new User? <a routerLink="login/add">Please SignUp here</a></h5>
      </div>
    </form>
  </section>
</div>
