<div class="container">
  <h2 style="text-align: center">{{ getCategoryDisplayName() }}</h2>

  <div class="container">
    <div class="row">
      <div class="col-lg-4" *ngFor="let article of filteredNews">
        <mat-card class="news-card">
          <div class="image-container">
            <img
              mat-card-image
              [src]="
                article.urlToImage || '../../../../assets/img/default news.jpg'
              "
              [alt]="article.title"
            />
          </div>
          <mat-card-content>
            <mat-card-title class="title">{{
              article.title | slice : 0 : 60
            }}</mat-card-title>
            <mat-card-subtitle class="source">{{
              article.source.name
            }}</mat-card-subtitle>
            <mat-card-subtitle class="published-at">{{
              article.publishedAt | date : "short"
            }}</mat-card-subtitle>
            <p class="description">
              {{ article.description | slice : 0 : 100 }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-button
              color="accent"
              (click)="openArticle(article.url)"
            >
              Read More
            </button>
            <button mat-icon-button color="accent" class="save-button">
              <mat-icon>bookmark</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
