.container {
    margin-bottom: 30px;
  }
  
  .carousel-item {
    height: 500px;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .row {
    margin-bottom: 20px;
  }
  
  .col-lg-4 {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
  }
  
  .news-card {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .news-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .description {
    display: none;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
  }
  
  .read-more {
    color: #ffffff;
    background-color: #800080;
    font-size: 14px;
    padding: 5px 10px;
    margin-right: 10px;
  }
  
  .save-button {
    color: #ffffff;
    background-color: #800080;
    font-size: 20px;
    padding: 5px 10px;
  }
  
  @media (max-width: 768px) {
    .col-lg-4 {
      width: calc(50% - 10px);
    }
  }
  
  @media (max-width: 576px) {
    .col-lg-4 {
      width: 100%;
    }
  }
  
  h2 {
    margin-bottom: 20px;
    margin-top:20px;
  }
  
  
  .carousel-item {
    height: 500px;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  
  .carousel-indicators {
    bottom: 10px;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 20px;
    height: 20px;
  }
  
  
  @media (max-width: 768px) {
    .col-lg-4 {
      width: calc(50% - 10px);
    }
  }
  
  @media (max-width: 576px) {
    .col-lg-4 {
      width: 100%;
    }
  }