.error {
    font-size: 10px;
    color: red;
}

.whole-container {
    margin-top: 100px;
}

.body {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbfbfb;
    margin: 30px 0 0 50px;
}

.gif {
    width: 60%;
    height: 100%;
    background-color: brown;
}

.container {
    width: 40%;
    height: auto;
    background-color: #fbfbfb;
}

.form-control,
.form-select {
    background-color: #f4f4f4;
    border: none;
    border-left: 2px solid rgb(36, 94, 180);
    box-shadow: none;
    border-radius: 1px;
}

.password-toggle {
    position: relative;
}

.toggle-icon {
    position: absolute;
    top: 45%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
}

.toggle-icon i {
    font-size: 12px;
    color: grey;
}

.custom-dropdown-menu {
    max-height: 100px;
    overflow-y: auto;
    white-space: nowrap;
}

.custom-dropdown-menu::-webkit-scrollbar {
    width: 10px;
}

.custom-dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.custom-dropdown-menu::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.custom-dropdown-menu::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 5px;
}

.custom-color {
    background-color: rgb(36, 94, 180);
}