<app-dashboard></app-dashboard>

<div class="whole-container">
    <h2 class="category-name">{{ getCategoryDisplayName() }}</h2>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4" *ngFor="let article of filteredNews">
                <mat-card class="news-card">
                    <div class="image-container">
                        <img mat-card-image [src]="article.urlToImage || '../../../../assets/img/default news.jpg'" [alt]="article.title" />
                    </div>
                    
                    <mat-card-content>
                        <mat-card-title class="title">
                            {{ article.title | slice : 0 : 60 }}
                        </mat-card-title>
                        <mat-card-subtitle class="author">
                          <p> Author: {{ article.author || "null" }}</p>  
                        </mat-card-subtitle>
                        <mat-card-subtitle class="source">
                            <p>Source: {{ article.source.name || "null" }}</p>

                        </mat-card-subtitle>
                        <mat-card-subtitle class="published-at">
                           <p> publishedAt:{{article.publishedAt | date: 'yyyy-MM-dd' }}</p>
                        </mat-card-subtitle>
                        <p class="description">{{ article.description }}</p>
                    </mat-card-content>

                    <mat-card-actions class="actions">
                        <!-- <button mat-raised-button id="reset" type="submit">Reset Password</button> -->
                        <a href="{{article.url}}" target="_blank" class="readmore">Read More</a>
                        <i (click)="saveArticle(article)" class="fa-solid fa-bookmark"></i>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>