header {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .logo {
    margin: 0;
    padding: 0;
    font-size: 20px; /* Adjust the font size as needed */
  }
  
  .logo a {
    font-weight: bolder;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
  }
  
  .search-bar {
    height: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto; /* Align to the right */
  }
  
  .search-text {
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-family: "Roboto", sans-serif;
  }
  
  .search-button {
    background-color: rgb(36, 94, 180);
    color: white;
    margin-right:5%;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
  }
  
  .nav-icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .nav-icon {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    cursor: pointer;
  }
  
  .dropdowns {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown button {
    background-color: rgb(36, 94, 180);
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    min-width: 150px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown .dropdown-item {
    display: block;
    width: 100%;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    color: #333;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  
  .dropdown .dropdown-item:hover,
  .dropdown .dropdown-item:focus {
    color: #2a6496;
    background-color: #f5f5f5;
  }
  
  .dropdown .dropdown-item:active {
    color: #fff;
    background-color: #337ab7;
  }
  
  .dropdown-menu.custom-dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    white-space: nowrap;
  }
  
  .custom-dropdown-menu a.dropdown-item {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  @media (max-width: 576px) {
    .logo {
      font-size: 18px;
    }
  
    .search-bar {
      display: none;
    }
  
    .dropdowns {
      display: none;
    }
  
    .nav-icons {
      margin-left: auto; 
    }
  }
  