
<!-- <mat-toolbar class="header">
    <span>Rev News</span>
  
    <span class="example-spacer"></span>
  
    <form *ngIf="isLoggedIn" class="d-flex" (ngSubmit)="searchNews()">
      <input class="form-control" type="text" placeholder="Search news" [(ngModel)]="searchQuery" name="searchQuery" aria-label="Search">
      <button mat-icon-button color="accent" class="search-button" type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </form>
  
    <div class="mat-tool-item">
      <div class="btn btn-group">
        <button *ngIf="isLoggedIn" type="button" class="btn btn-primary dropdown-toggle btn-primary" data-bs-toggle="dropdown"
          aria-expanded="false">Category</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="selectCategory('general')">General</a></li>
          <li><a class="dropdown-item" (click)="selectCategory('sports')">Sports</a></li>
          <li><a class="dropdown-item" (click)="selectCategory('business')">Business</a></li>
          <li><a class="dropdown-item" (click)="selectCategory('technology')">Technology</a></li>
          <li><a class="dropdown-item" (click)="selectCategory('entertainment')">Entertainment</a></li>
        </ul>
      </div>
      <div class="btn btn-group">
        <button *ngIf="isLoggedIn" type="button" class="btn btn-primary dropdown-toggle btn-primary" data-bs-toggle="dropdown"
          aria-expanded="false">Country</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="selectCountry('us')">United States</a></li>
          <li><a class="dropdown-item" (click)="selectCountry('gb')">United Kingdom</a></li>
          <li><a class="dropdown-item" (click)="selectCountry('in')">India</a></li>
        </ul>
      </div>
      <div>
        <a href="account.html" class="nav-icon"><i class="fa-solid fa-user"></i></a>
        <a href="index.html" class="nav-icon"><i class="fa-solid fa-right-from-bracket"></i></a>
    </div>
    </div>
    <button *ngIf="!isLoggedIn" type="submit" class="btn btn-primary" routerLink="/login" >Login</button>
    <button  *ngIf="isLoggedIn" type="submit" class="btn btn-danger" (click)="logout()"  >Log Out</button>
  </mat-toolbar>
  <a routerLink="/all">All Users</a><br>
  
  <button type="submit" class="btn btn-primary" routerLink="/add">Register</button> -->
 <!--  -->

 <header>
    <h1 class="logo">
        <a href="#">Rev News</a>
    </h1>
    <div class="search-bar flex">
        <input  *ngIf="isLoggedIn" id="search-text" type="text" class="search-text" [(ngModel)]="searchQuery"
            placeholder="eg.2023-07-05,sports...">
        <button *ngIf="isLoggedIn" id="search-button" class="search-button" (click)="searchNews()"><i
                class="fa-solid fa-magnifying-glass"></i></button><div>
            <div class="btn btn-group">
                <button *ngIf="isLoggedIn" type="button" class="btn btn-primary btn-sm dropdown-toggle custom-color" data-bs-toggle="dropdown"
                    aria-expanded="false">Category</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="selectCategory('general')">General</a></li>
                    <li><a class="dropdown-item" (click)="selectCategory('sports')">Sports</a></li>
                    <li><a class="dropdown-item" (click)="selectCategory('business')">Business</a></li>
                    <li><a class="dropdown-item" (click)="selectCategory('technology')">Technology</a></li>
                    <li><a class="dropdown-item" (click)="selectCategory('entertainment')">Entertainment</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button  *ngIf="isLoggedIn" type="button" class="btn btn-primary btn-sm dropdown-toggle custom-color" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Country
                </button>
                <ul class="dropdown-menu custom-dropdown-menu">
                    <li *ngFor="let country of countries">
                        <a class="dropdown-item" (click)="selectCountry(country.code)">{{ country.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <a *ngIf="isLoggedIn" class="nav-icon" routerLink="/savedarticle"><i class="fa-solid fa-bookmark"></i></a>
        <a   *ngIf="isLoggedIn" class="nav-icon"><i class="fa-solid fa-user" routerLink="/profile"></i></a>
        <button *ngIf="!isLoggedIn" type="submit" class="btn btn-primary" routerLink="/login" >Login</button>
        <a  *ngIf="isLoggedIn" class="nav-icon"><i class="fa-solid fa-right-from-bracket" (click)="logout()"></i></a>
    </div>
</header>

  

    
    
