.custom-dialog-container {
    overflow: hidden !important;
  }
  
  .custom-dialog-container .mat-dialog-content {
    max-height: none !important;
    padding: 20px;
  }
  
  .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
  }
  
  .card {
    height: 400px;
    width: 650px;
    /* margin-top: 5px; */
  }
  
  .card-body {
    height: 100%;
    padding: 20px;
    margin-left:-20px;
  }
  
  .card-title.mat-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .mat-subheading-2 {
    font-size: 18px;
  }
  
  .upd-dle {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  
  .upd-dle button {
    margin-top:5px;
    margin-right: 10px;
  }

img{
    margin-left:50px;
    margin-top: 10px;
    height:200px;
    width:200px;
}

#upd,#rst{
    background-color: rgb(36, 94, 180);
    color: white;
}