.whole-container {
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.category-name {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.container-fluid {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row {
    width: 100%;
    height: auto;
    padding: 50px 0;

}

/* News Card */
.news-row {
    /* width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly; */
    display: none;
}


.col-lg-4 {
    width: 24%;
    margin-bottom: 20px;
}

.news-card {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.news-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}

.description {
    margin-top: 7px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.actions {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.readmore {
    width: auto;
    text-decoration: none;
    color: #fff;
    background: rgb(36, 94, 180);
    padding: 5px 10px;
    border-radius: 5px;
}

.fa-bookmark {
    width: auto;
    cursor: pointer;
    font-size: 25px;
    color: rgb(36, 94, 180);
}


/* image adding with quotes */

.welimg {
    position: relative;
    background-image: url('../../assets/img/index-background.jpeg');
    width: 100%;
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 70px;
}

.quote-container {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
    color: white;
}


.quote-description {
    font-size: 50px;
    font-weight: bold;
    line-height: normal;
}

/* register  */

.reg-btn {
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 170px;
    transition: background-color 0.3s ease;
    background-color: #fff;
    margin-top: 30px;
    color: #000;
}

.reg-btn:hover {
    background-color: darkgrey;
}

/* about news about-section */

.about-section {
    margin-top: 50px;
    text-align: center;
    padding: 10px 50px;
}

.about-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.about-section p {
    font-size: 16px;
    line-height: 1.5;
}

/* welcome heading */

.Welcome-heading {
    width: auto;
    margin: 0 auto;

}

.Welcome-heading p {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}



@media (max-width: 768px) {
    .welimg {
        margin-top: 50px;
        width: 100%;
        height: 40vh;
    }

    .quote-description {
        font-size: 25px;
    }

    .reg-btn {
        font-size: 13px;
        padding: 2px 50px;
        margin-top: 10px;

    }

    .Welcome-heading p {
        font-size: 30px;
    }

    .col-lg-4 {
        width: 30%;
    }

    .readmore {
        padding: 2px 7px;
        font-size: 14px;

    }

    .fa-bookmark {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .quote-description {
        font-size: 20px;
    }

    .about-section p {
        font-size: 12px;
    }
    .Welcome-heading p {
        font-size: 25px;
    }
    .news-row{
        flex-direction: column;
        align-items: center;
    }

    .col-lg-4 {
        width: 60%;
        margin-bottom: 20px;
    }

    /* .news-card img {
        height: 100px;
    }

    .title {
        font-size: 15px;
    }

    .description {
        font-size: 12px;
        margin-top: 0px;
        line-height: 1.3;
    }

    .source,
    .published-at {
        font-size: 10px;
    }

    .readmore {
        padding: 1px 7px;
        font-size: 10px;

    }

    .fa-bookmark {
        font-size: 18px;
    } */
}


@media (max-width: 500px) {
    .quote-container {
        left: 30%;
    }
    
    .quote-description {
        font-size: 20px;
    }

    .reg-btn {
        font-size: 12px;
        padding: 1px 50px;
    }

}
@media (max-width: 400px) {
    .welimg {
        height: 30vh;
    }
    .quote-description {
        font-size: 17px;
    }
    .Welcome-heading p {
        font-size: 20px;
    }

    .reg-btn {
        font-size: 10px;
        padding: 0px 45px;
    }

}
@media (max-width: 1024px) {

    /* Additional CSS adjustments for larger screens */

}

/* Desktops and larger */
@media (max-width: 1200px) {

    /* Additional CSS adjustments for larger screens */
}