<a routerLink="">All</a><br>
<a routerLink="add">Register</a><br>

<a routerLink="login">Login</a>
<mat-toolbar class="header">
    <span>Rev News</span>
  
    <span class="example-spacer"></span>
  
    <form class="d-flex" (ngSubmit)="searchNews()">
      <input class="form-control" type="text" placeholder="Search news" [(ngModel)]="searchQuery" name="searchQuery" aria-label="Search">
      <button mat-icon-button color="accent" class="search-button" type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </form>
  
    <div class="mat-tool-item">
      <div class="btn btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle btn-primary" data-bs-toggle="dropdown"
          aria-expanded="false">Category</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="selectCategory('general')">General</a></li>
          <li><a class="dropdown-item" (click)="selectCategory('sports')">Sports</a></li>
          <li><a class="dropdown-item" (click)="selectCategory('business')">Business</a></li>
          <li><a class="dropdown-item" (click)="selectCategory('technology')">Technology</a></li>
          <li><a class="dropdown-item" (click)="selectCategory('entertainment')">Entertainment</a></li>
        </ul>
      </div>
      <div class="btn btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle btn-primary" data-bs-toggle="dropdown"
          aria-expanded="false">Country</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="selectCountry('us')">United States</a></li>
          <li><a class="dropdown-item" (click)="selectCountry('gb')">United Kingdom</a></li>
          <li><a class="dropdown-item" (click)="selectCountry('in')">India</a></li>
        </ul>
      </div>
    </div>
  </mat-toolbar>
  <app-news></app-news>
<!-- <router-outlet></router-outlet> -->