<app-dashboard></app-dashboard>
<h2 style="text-align: center" class="saved-news">Saved News Articles</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4" *ngFor="let article of savedNews">
            <mat-card class="news-card">
                <div class="image-container">
                    <img mat-card-image [src]="
            article.urlToImage || '../../../../assets/img/default news.jpg'
          " [alt]="article.title" />
                </div>
                <mat-card-content>
                    <mat-card-title class="title">
                        {{ article.title | slice : 0 : 60 }}
                    </mat-card-title>
                    <mat-card-subtitle class="author">
                        <p> Author : {{ article.author || "null" }}</p>  
                      </mat-card-subtitle>
                    <mat-card-subtitle class="source"> 
                        {{ article.source.name || "null" }}
                    </mat-card-subtitle>
                    <mat-card-subtitle class="published-at"> 
                        {{article.publishedAt | date: 'yyyy-MM-dd' }}
                    </mat-card-subtitle>
                    <p class="description">{{ article.description }}</p>

                </mat-card-content>
                <mat-card-actions class="actions">
                    <a href="{{article.url}}" (click)="openArticle(article.url)" class="readmore">Read More</a>
                    <i class="fa-solid fa-trash" (click)="removeArticle(article)"></i>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

